.elementor-24712 .elementor-element.elementor-element-41ae14c3 > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-24712 .elementor-element.elementor-element-41ae14c3 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-24712 .elementor-element.elementor-element-41ae14c3 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-24712 .elementor-element.elementor-element-41ae14c3:not(.elementor-motion-effects-element-type-background), .elementor-24712 .elementor-element.elementor-element-41ae14c3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-24712 .elementor-element.elementor-element-41ae14c3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-24712 .elementor-element.elementor-element-41ae14c3 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-24712 .elementor-element.elementor-element-5de644d1 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-24712 .elementor-element.elementor-element-50216f7 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-24712 .elementor-element.elementor-element-50216f7 .elementor-divider-separator {width: 20%;}
.elementor-24712 .elementor-element.elementor-element-50216f7 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-24712 .elementor-element.elementor-element-596a06c.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-24712 .elementor-element.elementor-element-79d3475d {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-24712 .elementor-element.elementor-element-79d3475d > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-24712 .elementor-element.elementor-element-2ba6b171 {text-align: center;}
.elementor-24712 .elementor-element.elementor-element-2ba6b171 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-24712 .elementor-element.elementor-element-3934b2ea {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-43c057a5 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-262cf1b7.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-262cf1b7 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-3fd663e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-a86f8d6 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-02f7631.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-02f7631 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-bee235e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-0d14f2d .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-7291fd4.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-7291fd4 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-4c911b32 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-f2dabc1 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-25e70c0 > .elementor-widget-container {padding: 16px 0px 16px 0px;}
.elementor-24712 .elementor-element.elementor-element-440635b .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-e6eee9c.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-e6eee9c > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-11c3925 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-8a4b842 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-0bda261.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-0bda261 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-175e828 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-a0e0fd9 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-6b3ec96.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-6b3ec96 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-25ae6cf {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-24712 .elementor-element.elementor-element-4a07106f .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-4a07106f > .elementor-widget-container {background-color: #689f38;}
.elementor-24712 .elementor-element.elementor-element-c14f8a7 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-c14f8a7 > .elementor-widget-container {background-color: #689f38;}
.elementor-24712 .elementor-element.elementor-element-1659b6e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-e1f1a9a .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-abf74cd.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-abf74cd > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-7846199 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-24712 .elementor-element.elementor-element-4f0fe25 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-4f0fe25 > .elementor-widget-container {background-color: #689f38;}
.elementor-24712 .elementor-element.elementor-element-260c2f4 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-ad597f2 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-b9c3471.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-b9c3471 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-1fc0459 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-775f3a5 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-8de22f7.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-8de22f7 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-dcd33b5.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-dcd33b5 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-299a1ef .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-8bbcc02 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-a13570c .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-c5c9302 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-caa425e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-4fea875 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-98363bf.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-98363bf > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-f02d33d {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-50dea6e .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-6065cdc.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-6065cdc > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-f5b28f8 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-e92bafa .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-7fe5feb.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-7fe5feb > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-5997840 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-6ef4edd .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-3bcce11.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-3bcce11 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-27a7ff3 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-11e319e .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-f9b32c5.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-f9b32c5 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-85e2bf7 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-35dc6d8 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-9e590db.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-9e590db > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-07ddf52 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-b7c74e5 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-ad114d0.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-ad114d0 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-b831433 .elementor-spacer-inner {height: 24px;}
.elementor-24712 .elementor-element.elementor-element-26fe546 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-f94b2a1 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-290df14 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-027df96 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-3f28654.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-3f28654 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-9a6e122 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-1167ffc .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-7200655 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-3690732 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-71b10b2.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-71b10b2 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-b2c50e7 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-a32ce0d .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-c8724a7 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-fa56fba .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-cb129da.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-cb129da > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-a7bbce2 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-9e643a7 {padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-1aa7a70 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-f8375c5 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-a5d2bd2.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-a5d2bd2 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-d62168b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-7e168f5 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-539a525.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-539a525 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-6f85203 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-bf8be7b .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-9b9bf45.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-9b9bf45 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-968346a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-358405b .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-c11949f .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-bbd161a.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-bbd161a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-2e189a4 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-f9d733e .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-7a22f29.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-7a22f29 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-e2deb21 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-a5ee8c1 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-c9e28c4.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-c9e28c4 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-2e48a2f7 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-24712 .elementor-element.elementor-element-7fffc7e9 .elementor-spacer-inner {height: 16px;}
.elementor-24712 .elementor-element.elementor-element-5b968c43.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-24712 .elementor-element.elementor-element-5b968c43 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-24712 .elementor-element.elementor-element-aaf54e9 .elementor-spacer-inner {height: 56px;}
@media (min-width:768px) {.elementor-24712 .elementor-element.elementor-element-5de644d1 {width: 57.964%;}
	.elementor-24712 .elementor-element.elementor-element-587f3df7 {width: 42.036%;}}
@media (max-width:1024px) {.elementor-24712 .elementor-element.elementor-element-41ae14c3 {padding: 30px 50px 30px 50px;}
	.elementor-24712 .elementor-element.elementor-element-2ba6b171 {text-align: center;}}
@media (max-width:767px) {.elementor-24712 .elementor-element.elementor-element-41ae14c3 {padding: 30px 30px 30px 30px;}
	.elementor-24712 .elementor-element.elementor-element-50216f7 .elementor-divider {text-align: center;}
	.elementor-24712 .elementor-element.elementor-element-50216f7 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-24712 .elementor-element.elementor-element-596a06c {text-align: center;}
	.elementor-24712 .elementor-element.elementor-element-79d3475d .elementor-text-editor {text-align: center;}
	.elementor-24712 .elementor-element.elementor-element-587f3df7 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-24712 .elementor-element.elementor-element-2ba6b171 {text-align: center;}}