.elementor-167 .elementor-element.elementor-element-5289bb7c > .elementor-container {max-width: 1000px;min-height: 300px;}
.elementor-167 .elementor-element.elementor-element-5289bb7c > .elementor-container:after {content: "";min-height: inherit;}
.elementor-167 .elementor-element.elementor-element-5289bb7c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-167 .elementor-element.elementor-element-5289bb7c:not(.elementor-motion-effects-element-type-background), .elementor-167 .elementor-element.elementor-element-5289bb7c > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-167 .elementor-element.elementor-element-5289bb7c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-167 .elementor-element.elementor-element-5289bb7c > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-167 .elementor-element.elementor-element-13b9fdcd > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-167 .elementor-element.elementor-element-615b8791 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-167 .elementor-element.elementor-element-615b8791 .elementor-divider-separator {width: 20%;}
.elementor-167 .elementor-element.elementor-element-615b8791 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-167 .elementor-element.elementor-element-251a53e4.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-167 .elementor-element.elementor-element-139f4bec {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-167 .elementor-element.elementor-element-139f4bec > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-167 .elementor-element.elementor-element-325b7f8c {text-align: center;}
.elementor-167 .elementor-element.elementor-element-325b7f8c .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-167 .elementor-element.elementor-element-680a64ae {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-167 .elementor-element.elementor-element-72d93962 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-233fb45f {text-align: center;}
.elementor-167 .elementor-element.elementor-element-233fb45f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-167 .elementor-element.elementor-element-233fb45f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-167 .elementor-element.elementor-element-0a0d921 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-5f012fbc {padding: 8px 8px 0px 8px;}
.elementor-167 .elementor-element.elementor-element-15c74560 > .elementor-element-populated {padding: 24px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-702a3c67 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-167 .elementor-element.elementor-element-6b6b69d > .elementor-widget-container {padding: 24px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-5150df04 > .elementor-element-populated {padding: 24px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-bac0829 {padding: 0px 8px 8px 8px;}
.elementor-167 .elementor-element.elementor-element-dc48496 > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-b519b76 > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-7d741e2 > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-9fc22f6 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-60af67b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-167 .elementor-element.elementor-element-53f511f .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-d4e4f09 {text-align: center;}
.elementor-167 .elementor-element.elementor-element-d4e4f09.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-167 .elementor-element.elementor-element-d4e4f09 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-167 .elementor-element.elementor-element-05d7618 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-75f6bbf {padding: 8px 8px 0px 8px;}
.elementor-167 .elementor-element.elementor-element-e2fee81 > .elementor-element-populated {padding: 24px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-4c7e021 > .elementor-element-populated {padding: 24px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-4d76953 > .elementor-element-populated {padding: 24px 24px 24px 24px;}
.elementor-167 .elementor-element.elementor-element-0349099 {padding: 0px 8px 8px 8px;}
.elementor-167 .elementor-element.elementor-element-37376e3 > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-c27c28c > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-3ab3e8f > .elementor-element-populated {padding: 0px 24px 0px 24px;}
.elementor-167 .elementor-element.elementor-element-2e859c4 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-3e7bffd {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-167 .elementor-element.elementor-element-231b90e .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-57d8106 {text-align: center;}
.elementor-167 .elementor-element.elementor-element-57d8106.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-167 .elementor-element.elementor-element-57d8106 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-167 .elementor-element.elementor-element-d8de336 .elementor-spacer-inner {height: 16px;}
.elementor-167 .elementor-element.elementor-element-b797304 > .elementor-element-populated {padding: 24px 24px 24px 24px;}
.elementor-167 .elementor-element.elementor-element-c9e5f51 .elementor-spacer-inner {height: 50px;}
@media (min-width:768px) {.elementor-167 .elementor-element.elementor-element-13b9fdcd {width: 57.964%;}
	.elementor-167 .elementor-element.elementor-element-cb37f6f {width: 42.036%;}}
@media (max-width:1024px) {.elementor-167 .elementor-element.elementor-element-5289bb7c {padding: 30px 50px 30px 50px;}
	.elementor-167 .elementor-element.elementor-element-325b7f8c {text-align: center;}}
@media (max-width:767px) {.elementor-167 .elementor-element.elementor-element-5289bb7c {padding: 30px 30px 30px 30px;}
	.elementor-167 .elementor-element.elementor-element-615b8791 .elementor-divider {text-align: center;}
	.elementor-167 .elementor-element.elementor-element-615b8791 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-167 .elementor-element.elementor-element-251a53e4 {text-align: center;}
	.elementor-167 .elementor-element.elementor-element-139f4bec .elementor-text-editor {text-align: center;}
	.elementor-167 .elementor-element.elementor-element-cb37f6f > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-167 .elementor-element.elementor-element-325b7f8c {text-align: center;}}