.elementor-163 .elementor-element.elementor-element-777c796b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-163 .elementor-element.elementor-element-32c7f8c3 .elementor-spacer-inner {height: 16px;}
.elementor-163 .elementor-element.elementor-element-799a8beb.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-163 .elementor-element.elementor-element-799a8beb > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-163 .elementor-element.elementor-element-9022788 {padding: 0px 8px 0px 8px;}
.elementor-163 .elementor-element.elementor-element-d7b79f8 .elementor-spacer-inner {height: 50px;}
.cf7md-admin-customize-message {display: none;}