.elementor-5475 .elementor-element.elementor-element-16b85714 > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-5475 .elementor-element.elementor-element-16b85714 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-5475 .elementor-element.elementor-element-16b85714 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5475 .elementor-element.elementor-element-16b85714:not(.elementor-motion-effects-element-type-background), .elementor-5475 .elementor-element.elementor-element-16b85714 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-5475 .elementor-element.elementor-element-16b85714 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-5475 .elementor-element.elementor-element-16b85714 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-5475 .elementor-element.elementor-element-43febf2a > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-5475 .elementor-element.elementor-element-2a11e958 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-5475 .elementor-element.elementor-element-2a11e958 .elementor-divider-separator {width: 20%;}
.elementor-5475 .elementor-element.elementor-element-2a11e958 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-5475 .elementor-element.elementor-element-154a5825.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-5475 .elementor-element.elementor-element-8456619 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-5475 .elementor-element.elementor-element-8456619 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-5475 .elementor-element.elementor-element-3d56400c {text-align: center;}
.elementor-5475 .elementor-element.elementor-element-3d56400c .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-5475 .elementor-element.elementor-element-79f4b607 > .elementor-container {max-width: 1000px;}
.elementor-5475 .elementor-element.elementor-element-79f4b607 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5475 .elementor-element.elementor-element-79f4b607:not(.elementor-motion-effects-element-type-background), .elementor-5475 .elementor-element.elementor-element-79f4b607 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-5475 .elementor-element.elementor-element-79f4b607 {border-style: solid;border-width: 0px 0px 1px 0px;border-color: #d6d6d6;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 0px 16px 0px 16px;}
.elementor-5475 .elementor-element.elementor-element-79f4b607 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-475bbe8.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-475bbe8.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-475bbe8 > .elementor-element-populated, .elementor-5475 .elementor-element.elementor-element-475bbe8 > .elementor-element-populated > .elementor-background-overlay, .elementor-5475 .elementor-element.elementor-element-475bbe8 > .elementor-background-slideshow {border-radius: 4px 4px 4px 4px;}
.elementor-5475 .elementor-element.elementor-element-4827e0a5 {padding: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-e38baaa {text-align: center;}
.elementor-5475 .elementor-element.elementor-element-d9ea697 {text-align: center;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-5ea0d3a9.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-5ea0d3a9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-4dd0f58 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-42c80f81.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-42c80f81.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-364fdb51.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-364fdb51.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-5475 .elementor-element.elementor-element-364fdb51.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: center;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-3d447b40.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-5475 .elementor-element.elementor-element-3d447b40.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5475 .elementor-element.elementor-element-3d447b40.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: center;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-2f1be7f9.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-5475 .elementor-element.elementor-element-2f1be7f9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5475 .elementor-element.elementor-element-7e07a9d3 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-5475 .elementor-element.elementor-element-5c9ba089 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-eb2bbc9 > .elementor-widget-container {margin: 12px 12px 12px 12px;padding: 6px 6px 6px 6px;background-color: rgba(97,206,112,.2);border-style: solid;border-width: 1px 1px 1px 1px;border-color: #61ce70;}
.elementor-5475 .elementor-element.elementor-element-401101e4 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-5475 .elementor-element.elementor-element-2076c31e .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-745ba990.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-745ba990 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-2095144 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-69f0c44b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-5475 .elementor-element.elementor-element-1ef93f55 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-cf9472f .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-3a1d1d7b.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-3a1d1d7b > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-99da780 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-410836e {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-aaefb23 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-33fe533 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-c65336e .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-22d1828 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-6e1857a .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-04d959f {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-7f2ba5d .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-6344321 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-b643e17 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-a154a62 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-275d56b .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-06c2c3f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-06c2c3f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-d3672f6.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-d3672f6 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-2af8424.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-2af8424 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-5fbb3c3.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-5fbb3c3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-b498d65 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-0ddf2ca.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-0ddf2ca > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-cd80a5d {text-align: left;}
.elementor-5475 .elementor-element.elementor-element-cb94e24 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-4dd4709 .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-1285b14 .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-658b5ee .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-557e19b .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-72f589e {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-dd92b35 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-b2181c4 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-af8fbe7 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-be49283 .elementor-text-editor {text-align: center;}
.elementor-5475 .elementor-element.elementor-element-be49283 {font-size: 10px;}
.elementor-5475 .elementor-element.elementor-element-fc4109a {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-04a6713 .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-916a679 .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-3b7e6f2 .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-9ddc80f .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-45bccf5 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-cadfcfd {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-2d233a5 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-fb8fc8c {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-c593f3d {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-f7a60ba .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-9a0c6da .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-1a4930d .elementor-spacer-inner {height: 20px;}
.elementor-5475 .elementor-element.elementor-element-b6748f7 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-c9e7cd5 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-3677980 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-5b50f24 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-656e2aa {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-1feae7b .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-542e907 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-10d0de6 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-06fdab8 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-dc4dcdc {text-align: left;}
.elementor-5475 .elementor-element.elementor-element-f6c6ceb {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-67d48db .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-5acde02 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-b4b9007 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-1a31855 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-81a8d46 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-0bb4f2e {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-b825d31 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-3809885 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-bf83eea .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-9a5b902 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-5da2950 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-e484563 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-51dcb25 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-9f6aa2c {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-c3d23ac {text-align: left;}
.elementor-5475 .elementor-element.elementor-element-72e44b2 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-60d3595 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-6240ed3 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-524297a .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-6f01943 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-6b61fd7 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-892a6fa {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-ef692bd {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-6a4d5c7 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-377e8de .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-4b6cdc5 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-e6b4c99 .elementor-spacer-inner {height: 10px;}
.elementor-5475 .elementor-element.elementor-element-695bcc9 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-be19ebb {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-2a1b4f8 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-95714e2 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-5475 .elementor-element.elementor-element-74c463b .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-3347f8b .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-de70b12.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-de70b12 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-bc-flex-widget .elementor-5475 .elementor-element.elementor-element-d03df13.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-5475 .elementor-element.elementor-element-d03df13.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-5475 .elementor-element.elementor-element-d03df13.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: flex-start;}
.elementor-5475 .elementor-element.elementor-element-d03df13 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-5475 .elementor-element.elementor-element-1d2dc9dd .gallery-item {padding: 0 16px 16px 0;}
.elementor-5475 .elementor-element.elementor-element-1d2dc9dd .gallery {margin: 0 -16px -16px 0;}
.elementor-5475 .elementor-element.elementor-element-1d2dc9dd .gallery-item img {border-style: solid;border-color: #fff;}
.elementor-5475 .elementor-element.elementor-element-1d2dc9dd .gallery-item .gallery-caption {text-align: center;}
.elementor-5475 .elementor-element.elementor-element-1d2dc9dd {width: auto;max-width: auto;align-self: center;}
.elementor-5475 .elementor-element.elementor-element-29d15c0a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-5475 .elementor-element.elementor-element-3609238c .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-21e46b7 .elementor-spacer-inner {height: 16px;}
.elementor-5475 .elementor-element.elementor-element-245bbbca.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-5475 .elementor-element.elementor-element-245bbbca > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-2b0cd7a5 {padding: 8px 8px 8px 8px;}
.elementor-5475 .elementor-element.elementor-element-524b67d6 > .elementor-element-populated {padding: 48px 48px 48px 48px;}
.elementor-5475 .elementor-element.elementor-element-5d398915 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-284822e > .elementor-element-populated {padding: 48px 48px 48px 48px;}
.elementor-5475 .elementor-element.elementor-element-c98b545 .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-c98b545 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-5475 .elementor-element.elementor-element-612a4d4f > .elementor-element-populated {padding: 48px 48px 48px 48px;}
.elementor-5475 .elementor-element.elementor-element-4409649e .elementor-image:hover img {opacity: .5;}
.elementor-5475 .elementor-element.elementor-element-6201cfe .elementor-spacer-inner {height: 56px;}
body.elementor-page-5475 h2.page-title, .elementor-page-title {display: none;}
@media (min-width:768px) {.elementor-5475 .elementor-element.elementor-element-43febf2a {width: 57.964%;}
	.elementor-5475 .elementor-element.elementor-element-22f54247 {width: 42.036%;}
	.elementor-5475 .elementor-element.elementor-element-264b718 {width: 45.803%;}
	.elementor-5475 .elementor-element.elementor-element-dff58db {width: 54.283%;}
	.elementor-5475 .elementor-element.elementor-element-ee76ae9 {width: 57.847%;}
	.elementor-5475 .elementor-element.elementor-element-ec53913 {width: 42.239%;}
	.elementor-5475 .elementor-element.elementor-element-49d6035 {width: 20.848%;}
	.elementor-5475 .elementor-element.elementor-element-a1392d8 {width: 79.238%;}}
@media (max-width:1024px) {.elementor-5475 .elementor-element.elementor-element-16b85714 {padding: 30px 50px 30px 50px;}
	.elementor-5475 .elementor-element.elementor-element-3d56400c {text-align: center;}
	.elementor-5475 .elementor-element.elementor-element-79f4b607 {padding: 30px 50px 30px 50px;}}
@media (max-width:767px) {.elementor-5475 .elementor-element.elementor-element-16b85714 {padding: 30px 30px 30px 30px;}
	.elementor-5475 .elementor-element.elementor-element-2a11e958 .elementor-divider {text-align: center;}
	.elementor-5475 .elementor-element.elementor-element-2a11e958 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-5475 .elementor-element.elementor-element-154a5825 {text-align: center;}
	.elementor-5475 .elementor-element.elementor-element-8456619 .elementor-text-editor {text-align: center;}
	.elementor-5475 .elementor-element.elementor-element-22f54247 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-5475 .elementor-element.elementor-element-3d56400c {text-align: center;}
	.elementor-5475 .elementor-element.elementor-element-79f4b607 {padding: 30px 30px 30px 30px;}}