.elementor-4228 .elementor-element.elementor-element-5d1116dd > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-4228 .elementor-element.elementor-element-5d1116dd > .elementor-container:after {content: "";min-height: inherit;}
.elementor-4228 .elementor-element.elementor-element-5d1116dd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-4228 .elementor-element.elementor-element-5d1116dd:not(.elementor-motion-effects-element-type-background), .elementor-4228 .elementor-element.elementor-element-5d1116dd > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-4228 .elementor-element.elementor-element-5d1116dd {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-4228 .elementor-element.elementor-element-5d1116dd > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-4228 .elementor-element.elementor-element-3451e798 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-4228 .elementor-element.elementor-element-7a6ebed4 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-4228 .elementor-element.elementor-element-7a6ebed4 .elementor-divider-separator {width: 20%;}
.elementor-4228 .elementor-element.elementor-element-7a6ebed4 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-4228 .elementor-element.elementor-element-1f529ba7.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-4228 .elementor-element.elementor-element-1d3c92ab {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-4228 .elementor-element.elementor-element-1d3c92ab > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-4228 .elementor-element.elementor-element-3de21d64 {text-align: center;}
.elementor-4228 .elementor-element.elementor-element-3de21d64 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-4228 .elementor-element.elementor-element-a0a32af > .elementor-widget-container {margin: 24px 0px 16px 0px;padding: 0px 8px 0px 8px;}
.elementor-4228 .elementor-element.elementor-element-45efda2a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4228 .elementor-element.elementor-element-336876d7 .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-18d27587.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4228 .elementor-element.elementor-element-18d27587 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4228 .elementor-element.elementor-element-5cf017a.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4228 .elementor-element.elementor-element-5cf017a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4228 .elementor-element.elementor-element-709a731 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4228 .elementor-element.elementor-element-f25bb4f > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-ccad00d > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-a1fbb37 .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-ad8d2a8 .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-d4ff178 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4228 .elementor-element.elementor-element-7628ff2a .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-180e492c.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4228 .elementor-element.elementor-element-180e492c > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4228 .elementor-element.elementor-element-c889f98 {padding: 0px 8px 0px 8px;}
.elementor-4228 .elementor-element.elementor-element-e09f66d {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4228 .elementor-element.elementor-element-949c4c0 .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-5c69f97.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4228 .elementor-element.elementor-element-5c69f97 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4228 .elementor-element.elementor-element-46d68b0 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4228 .elementor-element.elementor-element-fd78869 > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-1435d04 > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-a0bd1b8 .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-437a65e .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-fd6c6ea {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4228 .elementor-element.elementor-element-b9cc023 > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-c453b14 > .elementor-widget-container {background-color: #efefef;}
.elementor-4228 .elementor-element.elementor-element-fece73f .elementor-spacer-inner {height: 16px;}
.elementor-4228 .elementor-element.elementor-element-cb8ccfd .elementor-spacer-inner {height: 16px;}
@media (min-width:768px) {.elementor-4228 .elementor-element.elementor-element-3451e798 {width: 57.964%;}
	.elementor-4228 .elementor-element.elementor-element-6fec58a4 {width: 42.036%;}
	.elementor-4228 .elementor-element.elementor-element-89b18a8 {width: 70.711%;}
	.elementor-4228 .elementor-element.elementor-element-8356aa1 {width: 29.289%;}}
@media (max-width:1024px) {.elementor-4228 .elementor-element.elementor-element-5d1116dd {padding: 30px 50px 30px 50px;}
	.elementor-4228 .elementor-element.elementor-element-3de21d64 {text-align: center;}}
@media (max-width:767px) {.elementor-4228 .elementor-element.elementor-element-5d1116dd {padding: 30px 30px 30px 30px;}
	.elementor-4228 .elementor-element.elementor-element-7a6ebed4 .elementor-divider {text-align: center;}
	.elementor-4228 .elementor-element.elementor-element-7a6ebed4 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-4228 .elementor-element.elementor-element-1f529ba7 {text-align: center;}
	.elementor-4228 .elementor-element.elementor-element-1d3c92ab .elementor-text-editor {text-align: center;}
	.elementor-4228 .elementor-element.elementor-element-6fec58a4 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-4228 .elementor-element.elementor-element-3de21d64 {text-align: center;}}