.elementor-2966 .elementor-element.elementor-element-5e21661c > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-2966 .elementor-element.elementor-element-5e21661c > .elementor-container:after {content: "";min-height: inherit;}
.elementor-2966 .elementor-element.elementor-element-5e21661c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2966 .elementor-element.elementor-element-5e21661c:not(.elementor-motion-effects-element-type-background), .elementor-2966 .elementor-element.elementor-element-5e21661c > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-2966 .elementor-element.elementor-element-5e21661c {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-2966 .elementor-element.elementor-element-5e21661c > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2966 .elementor-element.elementor-element-2a8d1788 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-2966 .elementor-element.elementor-element-1f8c322a {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-2966 .elementor-element.elementor-element-1f8c322a .elementor-divider-separator {width: 20%;}
.elementor-2966 .elementor-element.elementor-element-1f8c322a .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-2966 .elementor-element.elementor-element-4ca3c9b8.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-2966 .elementor-element.elementor-element-248323d6 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-2966 .elementor-element.elementor-element-248323d6 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-2966 .elementor-element.elementor-element-11093a48 {text-align: center;}
.elementor-2966 .elementor-element.elementor-element-11093a48 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-2966 .elementor-element.elementor-element-07a8e8a > .elementor-widget-container {margin: 12px 12px 12px 12px;padding: 6px 6px 6px 6px;background-color: rgba(97,206,112,.2);border-style: solid;border-width: 1px 1px 1px 1px;border-color: #61ce70;}
.elementor-2966 .elementor-element.elementor-element-30f076e7 > .elementor-widget-container {margin: 24px 0px 16px 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-23d771c {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-5631c86 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-eee3fb5 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-53431d94 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-5e9685c .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-d110fa3.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2966 .elementor-element.elementor-element-d110fa3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-b98c701 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-4b579b1 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-f953899 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-de66ee3 .elementor-spacer-inner {height: 8px;}
.elementor-2966 .elementor-element.elementor-element-edd6c7c {padding: 0px 16px 0px 16px;}
.elementor-2966 .elementor-element.elementor-element-7524237 {padding: 0px 16px 0px 16px;}
.elementor-2966 .elementor-element.elementor-element-6da915f {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-1d5ac66 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-974bbf9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-0bffaf0 .elementor-spacer-inner {height: 8px;}
.elementor-2966 .elementor-element.elementor-element-338b353 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2966 .elementor-element.elementor-element-1f46e16 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-1f46e16 > .elementor-widget-container {background-color: #689f38;}
.elementor-2966 .elementor-element.elementor-element-2fef170 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-a55372c {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2966 .elementor-element.elementor-element-b93f63a .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-d839faa {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-ee41f89 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-5d304b9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-a570400 .elementor-spacer-inner {height: 8px;}
.elementor-2966 .elementor-element.elementor-element-ea009f9 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-2d59376 .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-29c0dce > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-e1e2730 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-793ec6e .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-e2c65ae > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-57d2e6c > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-5873f26 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-53b92ff .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-b9670a3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-93c0938 .elementor-spacer-inner {height: 56px;}
.elementor-2966 .elementor-element.elementor-element-c5d92fc {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2966 .elementor-element.elementor-element-d0f366a .elementor-spacer-inner {height: 16px;}
.elementor-2966 .elementor-element.elementor-element-7a84cf2 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2966 .elementor-element.elementor-element-3732cf7 .elementor-spacer-inner {height: 56px;}
@media (min-width:768px) {.elementor-2966 .elementor-element.elementor-element-2a8d1788 {width: 57.964%;}
	.elementor-2966 .elementor-element.elementor-element-7e25daf6 {width: 42.036%;}}
@media (max-width:1024px) {.elementor-2966 .elementor-element.elementor-element-5e21661c {padding: 30px 50px 30px 50px;}
	.elementor-2966 .elementor-element.elementor-element-11093a48 {text-align: center;}}
@media (max-width:767px) {.elementor-2966 .elementor-element.elementor-element-5e21661c {padding: 30px 30px 30px 30px;}
	.elementor-2966 .elementor-element.elementor-element-1f8c322a .elementor-divider {text-align: center;}
	.elementor-2966 .elementor-element.elementor-element-1f8c322a .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-2966 .elementor-element.elementor-element-4ca3c9b8 {text-align: center;}
	.elementor-2966 .elementor-element.elementor-element-248323d6 .elementor-text-editor {text-align: center;}
	.elementor-2966 .elementor-element.elementor-element-7e25daf6 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-2966 .elementor-element.elementor-element-11093a48 {text-align: center;}}
.elementor-2966 .elementor-element.elementor-element-30f076e7 {display: none;}