.elementor-2246 .elementor-element.elementor-element-66947662 > .elementor-container {min-height: 300px;}
.elementor-2246 .elementor-element.elementor-element-66947662 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-2246 .elementor-element.elementor-element-66947662 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2246 .elementor-element.elementor-element-66947662:not(.elementor-motion-effects-element-type-background), .elementor-2246 .elementor-element.elementor-element-66947662 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-2246 .elementor-element.elementor-element-66947662 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-2246 .elementor-element.elementor-element-66947662 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2246 .elementor-element.elementor-element-71ad3a84 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-2246 .elementor-element.elementor-element-1991d08b {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-2246 .elementor-element.elementor-element-1991d08b .elementor-divider-separator {width: 20%;}
.elementor-2246 .elementor-element.elementor-element-1991d08b .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-2246 .elementor-element.elementor-element-7f755737.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-2246 .elementor-element.elementor-element-48ea9d22 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-2246 .elementor-element.elementor-element-48ea9d22 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-2246 .elementor-element.elementor-element-29db1dd3 {text-align: center;}
.elementor-2246 .elementor-element.elementor-element-29db1dd3 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-2246 .elementor-element.elementor-element-c0a8bbf > .elementor-widget-container {margin: 24px 0px 16px 0px;padding: 0px 8px 0px 8px;}
.elementor-2246 .elementor-element.elementor-element-e0b3e97 {margin-top: 16px;margin-bottom: 16px;padding: 0px 16px 0px 16px;}
.elementor-2246 .elementor-element.elementor-element-6909b1d > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-94670f9 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2246 .elementor-element.elementor-element-3a6c33f9 .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-3fd7bf32.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-3fd7bf32 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-3fc7036a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-2246 .elementor-element.elementor-element-1cf333ba .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-498ae630.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-498ae630 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-bce7b49 > .elementor-widget-container {margin: 16px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-d447cbd > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-bc-flex-widget .elementor-2246 .elementor-element.elementor-element-5697d2b.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-2246 .elementor-element.elementor-element-5697d2b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2246 .elementor-element.elementor-element-6e46cb6 > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-05820a3 > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-907d418 > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-887fdf5 > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-8a89ffd > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-2d8fc38 > .elementor-widget-container {padding: 0px 16px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-772c5f46 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2246 .elementor-element.elementor-element-772c5f46 {margin-top: 16px;margin-bottom: 16px;}
.elementor-2246 .elementor-element.elementor-element-5464e755 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 0px 8px;}
.elementor-2246 .elementor-element.elementor-element-10a4ffef.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-10a4ffef > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-2e207d82 {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-96dd92d .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-1186068.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-1186068 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-c10bf38 {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-c5fa3c0.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-c5fa3c0 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-53ab6b49 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2246 .elementor-element.elementor-element-1235013a .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-5049912 .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-6dabc470 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2246 .elementor-element.elementor-element-5222aa0 .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-3273141 .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-8d5b1ac {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2246 .elementor-element.elementor-element-909dac3 .elementor-image:hover img {opacity: 1;}
.elementor-2246 .elementor-element.elementor-element-909dac3 .elementor-image img {transition-duration: .5s;}
.elementor-2246 .elementor-element.elementor-element-909dac3 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-2246 .elementor-element.elementor-element-ab2e75d .elementor-image:hover img {opacity: 1;}
.elementor-2246 .elementor-element.elementor-element-ab2e75d .elementor-image img {transition-duration: .5s;}
.elementor-2246 .elementor-element.elementor-element-ab2e75d > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-2246 .elementor-element.elementor-element-2f10d8e .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-ad3bb68 .elementor-spacer-inner {height: 16px;}
.elementor-2246 .elementor-element.elementor-element-9cf6c24 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2246 .elementor-element.elementor-element-9cf6c24 {margin-top: 16px;margin-bottom: 16px;}
.elementor-2246 .elementor-element.elementor-element-b03a07b {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-2246 .elementor-element.elementor-element-7182ba7.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2246 .elementor-element.elementor-element-7182ba7 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-2246 .elementor-element.elementor-element-7867a20f {padding: 0px 8px 0px 8px;}
.elementor-bc-flex-widget .elementor-2246 .elementor-element.elementor-element-13857a01.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-2246 .elementor-element.elementor-element-13857a01.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2246 .elementor-element.elementor-element-13857a01.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {justify-content: flex-start;}
.elementor-2246 .elementor-element.elementor-element-13857a01 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-2246 .elementor-element.elementor-global-3526 .gallery-item {padding: 0 100px 100px 0;}
.elementor-2246 .elementor-element.elementor-global-3526 .gallery {margin: 0 -100px -100px 0;}
.elementor-2246 .elementor-element.elementor-global-3526 .gallery-item .gallery-caption {text-align: center;}
body.elementor-page-2246 h2.page-title, .elementor-page-title {display: none;}
@media (min-width:768px) {.elementor-2246 .elementor-element.elementor-element-71ad3a84 {width: 57.964%;}
	.elementor-2246 .elementor-element.elementor-element-4c4948ed {width: 42.036%;}
	.elementor-2246 .elementor-element.elementor-element-c662970 {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-5697d2b {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-c626e30 {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-47aba8f {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-7c9a660 {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-48256dc {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-e4e7b4c {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-7f3006b {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-cb09802 {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-32aa1ca {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-090024b {width: 74.971%;}
	.elementor-2246 .elementor-element.elementor-element-fce1123 {width: 24.995%;}
	.elementor-2246 .elementor-element.elementor-element-55fb6fd {width: 67.174%;}
	.elementor-2246 .elementor-element.elementor-element-d765808 {width: 32.792%;}}
@media (max-width:1024px) {.elementor-2246 .elementor-element.elementor-element-66947662 {padding: 30px 50px 30px 50px;}
	.elementor-2246 .elementor-element.elementor-element-29db1dd3 {text-align: center;}}
@media (max-width:767px) {.elementor-2246 .elementor-element.elementor-element-66947662 {padding: 30px 30px 30px 30px;}
	.elementor-2246 .elementor-element.elementor-element-1991d08b .elementor-divider {text-align: center;}
	.elementor-2246 .elementor-element.elementor-element-1991d08b .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-2246 .elementor-element.elementor-element-7f755737 {text-align: center;}
	.elementor-2246 .elementor-element.elementor-element-48ea9d22 .elementor-text-editor {text-align: center;}
	.elementor-2246 .elementor-element.elementor-element-4c4948ed > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-2246 .elementor-element.elementor-element-29db1dd3 {text-align: center;}}
.elementor-2246 .elementor-element.elementor-element-909dac3 a {cursor: zoom-in;}
.elementor-2246 .elementor-element.elementor-element-ab2e75d a {cursor: zoom-in;}