.elementor-1800 .elementor-element.elementor-element-466a259 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1800 .elementor-element.elementor-element-efc1611 .elementor-image:hover img {opacity: 1;}
.elementor-1800 .elementor-element.elementor-element-efc1611 .elementor-image img {transition-duration: .5s;}
.elementor-1800 .elementor-element.elementor-element-efc1611 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-1800 .elementor-element.elementor-element-83628c2 .elementor-spacer-inner {height: 16px;}
.elementor-1800 .elementor-element.elementor-element-83628c2 > .elementor-widget-container {background-color: #689f38;}
.elementor-1800 .elementor-element.elementor-element-7344a5e .elementor-spacer-inner {height: 16px;}
.elementor-1800 .elementor-element.elementor-element-efc1611 a {cursor: zoom-in;}