.elementor-1826 .elementor-element.elementor-element-4b704add {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-2710cc8b .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-42d24f93.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-42d24f93 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-a876010 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-7002595 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-ff8378e.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-ff8378e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-1e3cf82 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-aa12869 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-c061848.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-c061848 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-50685a5 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-3e8b6e3 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-ea3d334.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-ea3d334 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-de4fff4 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-0b6a903 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-cf12b21.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-cf12b21 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-a6d88d9.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-a6d88d9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-26690b0.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-26690b0 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-1b49c2e .elementor-spacer-inner {height: 24px;}
.elementor-1826 .elementor-element.elementor-element-4b02de6.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-4b02de6 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-6dcbcf3 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-ab5edbd .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-ff1e86f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-ff1e86f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-29cd615.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-29cd615 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-3168afb9 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1826 .elementor-element.elementor-element-73e3271 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1826 .elementor-element.elementor-element-e8d9deb .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-75f71fb {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-0335175 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-e366eca.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-e366eca > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-54801bc {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-a5f5d4c .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-2a46f43.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-2a46f43 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-b121c41 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1826 .elementor-element.elementor-element-38c5006 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-3afe5b6c {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-400406ed .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-7aa1d145.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-7aa1d145 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-8673f2a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-17ecd5da .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-42d9dd81.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-42d9dd81 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-7e0f839 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-a6b7012 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-41a8b35.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-41a8b35 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-7ac7220 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-59f6a79 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-7ab09d9.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-7ab09d9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-b1b8554 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-e20058c {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-e090ea1 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-58e7bd6.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-58e7bd6 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-7d62a01 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-7b4154e .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-60a4dcd.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-60a4dcd > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-c368158 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-fcd39d6 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-e8603f3.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-e8603f3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-2eef2ef {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-c8b37bd .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-fb87d07.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-fb87d07 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-51f3a2d0 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1826 .elementor-element.elementor-element-c5458ca .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-e325e73 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-e553283 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-01642f7.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-01642f7 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-697b7b2 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-ba5bae4 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-ace81dc.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-ace81dc > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-20004fa7 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-1176c49e .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-6a584e37.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-6a584e37 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-fdda61f {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-0f4bc5e .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-82d98f1.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-82d98f1 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-201cca8 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1826 .elementor-element.elementor-element-a4f97f8 .elementor-spacer-inner {height: 16px;}
.elementor-1826 .elementor-element.elementor-element-8fa842d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1826 .elementor-element.elementor-element-8fa842d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1826 .elementor-element.elementor-element-79838e6 .elementor-spacer-inner {height: 64px;}
body.elementor-page-1826 h2.page-title, .elementor-page-title {display: none;}