.elementor-4518 .elementor-element.elementor-element-7a32377e > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-4518 .elementor-element.elementor-element-7a32377e > .elementor-container:after {content: "";min-height: inherit;}
.elementor-4518 .elementor-element.elementor-element-7a32377e > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-4518 .elementor-element.elementor-element-7a32377e:not(.elementor-motion-effects-element-type-background), .elementor-4518 .elementor-element.elementor-element-7a32377e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-4518 .elementor-element.elementor-element-7a32377e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-4518 .elementor-element.elementor-element-7a32377e > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-4518 .elementor-element.elementor-element-6da4998d > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-4518 .elementor-element.elementor-element-ab3c7ad {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-4518 .elementor-element.elementor-element-ab3c7ad .elementor-divider-separator {width: 20%;}
.elementor-4518 .elementor-element.elementor-element-ab3c7ad .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-4518 .elementor-element.elementor-element-5d1016fd.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-4518 .elementor-element.elementor-element-670c83ac {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-4518 .elementor-element.elementor-element-670c83ac > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-4518 .elementor-element.elementor-element-36093aa4 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-36093aa4 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-4518 .elementor-element.elementor-element-63e68791 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-7e0442e9 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-71e1595e.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-71e1595e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-52338a7 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-3b38932 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-ae250ea {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-7039f08 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-2d51467c {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-64d75d98 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-17f1fb1.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-17f1fb1 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-507accb {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-c5d626d .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-ea5bf1a.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-ea5bf1a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-61e20c2 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-189ced6 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-bf8516d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-bf8516d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-621803aa {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-70191482 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-499288f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-499288f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-5ccc887 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-26ed2d7 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-c0d77a5 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-ae3894d {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-abaf750 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-b49e733.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-b49e733 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-518708f {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-3596914 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-0360cd1 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-0553213 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-ab1f126.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-ab1f126 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-c15db06 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-dfed71f {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-aadf882 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-61c7a8e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-e0a53ae {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-05a72a4 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-7fc8fa8 {text-align: center;}
.elementor-4518 .elementor-element.elementor-element-02e7578 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-59c8727 .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-4feddee.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-4feddee > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-1c7c4796 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4518 .elementor-element.elementor-element-677ee22a .elementor-spacer-inner {height: 16px;}
.elementor-4518 .elementor-element.elementor-element-2f0e6fc9.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4518 .elementor-element.elementor-element-2f0e6fc9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4518 .elementor-element.elementor-element-3fbdefb .elementor-image:hover img {opacity: 1;}
.elementor-4518 .elementor-element.elementor-element-3fbdefb .elementor-image img {transition-duration: .5s;}
.elementor-4518 .elementor-element.elementor-element-3fbdefb > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4518 .elementor-element.elementor-element-03b84ff .elementor-image:hover img {opacity: 1;}
.elementor-4518 .elementor-element.elementor-element-03b84ff .elementor-image img {transition-duration: .5s;}
.elementor-4518 .elementor-element.elementor-element-03b84ff > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4518 .elementor-element.elementor-element-2ad1a31 .elementor-image:hover img {opacity: 1;}
.elementor-4518 .elementor-element.elementor-element-2ad1a31 .elementor-image img {transition-duration: .5s;}
.elementor-4518 .elementor-element.elementor-element-2ad1a31 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
@media (min-width:768px) {.elementor-4518 .elementor-element.elementor-element-6da4998d {width: 57.964%;}
	.elementor-4518 .elementor-element.elementor-element-260e4f6b {width: 42.036%;}
	.elementor-4518 .elementor-element.elementor-element-1929714 {width: 26.806%;}
	.elementor-4518 .elementor-element.elementor-element-d6777e8 {width: 23.194%;}}
@media (max-width:1024px) {.elementor-4518 .elementor-element.elementor-element-7a32377e {padding: 30px 50px 30px 50px;}
	.elementor-4518 .elementor-element.elementor-element-36093aa4 {text-align: center;}}
@media (max-width:767px) {.elementor-4518 .elementor-element.elementor-element-7a32377e {padding: 30px 30px 30px 30px;}
	.elementor-4518 .elementor-element.elementor-element-ab3c7ad .elementor-divider {text-align: center;}
	.elementor-4518 .elementor-element.elementor-element-ab3c7ad .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-4518 .elementor-element.elementor-element-5d1016fd {text-align: center;}
	.elementor-4518 .elementor-element.elementor-element-670c83ac .elementor-text-editor {text-align: center;}
	.elementor-4518 .elementor-element.elementor-element-260e4f6b > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-4518 .elementor-element.elementor-element-36093aa4 {text-align: center;}}
.elementor-4518 .elementor-element.elementor-element-3fbdefb a {cursor: zoom-in;}
.elementor-4518 .elementor-element.elementor-element-03b84ff a {cursor: zoom-in;}
.elementor-4518 .elementor-element.elementor-element-2ad1a31 a {cursor: zoom-in;}