.elementor-560 .elementor-element.elementor-element-56968805 > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-560 .elementor-element.elementor-element-56968805 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-560 .elementor-element.elementor-element-56968805 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-560 .elementor-element.elementor-element-56968805:not(.elementor-motion-effects-element-type-background), .elementor-560 .elementor-element.elementor-element-56968805 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-560 .elementor-element.elementor-element-56968805 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-560 .elementor-element.elementor-element-56968805 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-560 .elementor-element.elementor-element-a8e94c0 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-560 .elementor-element.elementor-element-18042b1c {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-560 .elementor-element.elementor-element-18042b1c .elementor-divider-separator {width: 20%;}
.elementor-560 .elementor-element.elementor-element-18042b1c .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-560 .elementor-element.elementor-element-2f353116.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-560 .elementor-element.elementor-element-5e45002 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-560 .elementor-element.elementor-element-5e45002 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-560 .elementor-element.elementor-element-220baf0e {text-align: center;}
.elementor-560 .elementor-element.elementor-element-220baf0e .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-560 .elementor-element.elementor-element-c5405cf {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-9aecde9 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-110bcb3.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-110bcb3 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-22b69f7 .elementor-spacer-inner {height: 24px;}
.elementor-560 .elementor-element.elementor-element-f9adf0e .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-f9adf0e > .elementor-widget-container {background-color: #689f38;}
.elementor-560 .elementor-element.elementor-element-6c253a9 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-6c253a9 > .elementor-widget-container {background-color: #b00020;}
.elementor-560 .elementor-element.elementor-element-7e4b41e .elementor-spacer-inner {height: 24px;}
.elementor-560 .elementor-element.elementor-element-e8af17b {text-align: center;}
.elementor-560 .elementor-element.elementor-element-2c3fc3dd {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-1ceb587f .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-2d2a429f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-2d2a429f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-b632ad7 {text-align: center;}
.elementor-560 .elementor-element.elementor-element-2f982bed {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-276b0661 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-1ee0b763.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-1ee0b763 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-476675b .elementor-image:hover img {opacity: 1;}
.elementor-560 .elementor-element.elementor-element-476675b .elementor-image img {transition-duration: .5s;}
.elementor-560 .elementor-element.elementor-element-476675b > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-560 .elementor-element.elementor-element-6d7a213 .elementor-image:hover img {opacity: 1;}
.elementor-560 .elementor-element.elementor-element-6d7a213 .elementor-image img {transition-duration: .5s;}
.elementor-560 .elementor-element.elementor-element-6d7a213 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-560 .elementor-element.elementor-element-e30432c {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-8871787 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-ce325a2.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-ce325a2 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-23cf041 .elementor-image:hover img {opacity: 1;}
.elementor-560 .elementor-element.elementor-element-23cf041 .elementor-image img {transition-duration: .5s;}
.elementor-560 .elementor-element.elementor-element-23cf041 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-560 .elementor-element.elementor-element-61a4b85 .elementor-image:hover img {opacity: 1;}
.elementor-560 .elementor-element.elementor-element-61a4b85 .elementor-image img {transition-duration: .5s;}
.elementor-560 .elementor-element.elementor-element-61a4b85 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-560 .elementor-element.elementor-element-321fb61 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-c16f859 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-208671b.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-208671b > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-34b1a884 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-560 .elementor-element.elementor-element-4b500b19 .elementor-spacer-inner {height: 16px;}
.elementor-560 .elementor-element.elementor-element-46d86067.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-560 .elementor-element.elementor-element-46d86067 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
@media (min-width:768px) {.elementor-560 .elementor-element.elementor-element-a8e94c0 {width: 57.962%;}
	.elementor-560 .elementor-element.elementor-element-3dcca1fe {width: 42.036%;}}
@media (max-width:1024px) {.elementor-560 .elementor-element.elementor-element-56968805 {padding: 30px 50px 30px 50px;}
	.elementor-560 .elementor-element.elementor-element-220baf0e {text-align: center;}}
@media (max-width:767px) {.elementor-560 .elementor-element.elementor-element-56968805 {padding: 30px 30px 30px 30px;}
	.elementor-560 .elementor-element.elementor-element-18042b1c .elementor-divider {text-align: center;}
	.elementor-560 .elementor-element.elementor-element-18042b1c .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-560 .elementor-element.elementor-element-2f353116 {text-align: center;}
	.elementor-560 .elementor-element.elementor-element-5e45002 .elementor-text-editor {text-align: center;}
	.elementor-560 .elementor-element.elementor-element-3dcca1fe > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-560 .elementor-element.elementor-element-220baf0e {text-align: center;}}
.elementor-560 .elementor-element.elementor-element-476675b a {cursor: zoom-in;}
.elementor-560 .elementor-element.elementor-element-6d7a213 a {cursor: zoom-in;}
.elementor-560 .elementor-element.elementor-element-23cf041 a {cursor: zoom-in;}
.elementor-560 .elementor-element.elementor-element-61a4b85 a {cursor: zoom-in;}