.elementor-2659 .elementor-element.elementor-element-bf28850 {padding: 0px 8px 0px 8px;}
.elementor-2659 .elementor-element.elementor-element-1f595bf.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-2659 .elementor-element.elementor-element-1f595bf > .elementor-widget-container {margin: 8px 0px 0px 0px;}
.elementor-2659 .elementor-element.elementor-element-5af4557 {margin-top: 16px;margin-bottom: 0px;}