.elementor-6192 .elementor-element.elementor-element-6452e4a > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-6192 .elementor-element.elementor-element-6452e4a > .elementor-container:after {content: "";min-height: inherit;}
.elementor-6192 .elementor-element.elementor-element-6452e4a > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-6192 .elementor-element.elementor-element-6452e4a:not(.elementor-motion-effects-element-type-background), .elementor-6192 .elementor-element.elementor-element-6452e4a > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-6192 .elementor-element.elementor-element-6452e4a {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-6192 .elementor-element.elementor-element-6452e4a > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-6192 .elementor-element.elementor-element-5c6d83a8 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-6192 .elementor-element.elementor-element-6d3bfab0 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-6192 .elementor-element.elementor-element-6d3bfab0 .elementor-divider-separator {width: 20%;}
.elementor-6192 .elementor-element.elementor-element-6d3bfab0 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-6192 .elementor-element.elementor-element-384f80e4.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-6192 .elementor-element.elementor-element-227d6242 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-6192 .elementor-element.elementor-element-227d6242 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-6192 .elementor-element.elementor-element-38be097c {text-align: center;}
.elementor-6192 .elementor-element.elementor-element-38be097c .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-2803550b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-634d0634 .elementor-spacer-inner {height: 16px;}
.elementor-6192 .elementor-element.elementor-element-17294099.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-17294099 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-57f655b.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-57f655b > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-da21222 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-da21222 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-da21222 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-bf19da7 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-661ca27 .elementor-spacer-inner {height: 16px;}
.elementor-6192 .elementor-element.elementor-element-41581b8.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-41581b8 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-32ae5eb6 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-6192 .elementor-element.elementor-element-b9df8a5 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-b9df8a5 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-b9df8a5 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-1283bea6 .elementor-spacer-inner {height: 16px;}
.elementor-6192 .elementor-element.elementor-element-1283bea6 > .elementor-widget-container {background-color: #689f38;}
.elementor-6192 .elementor-element.elementor-element-d233e96 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-7fcc2f9 .elementor-spacer-inner {height: 16px;}
.elementor-6192 .elementor-element.elementor-element-83aca93.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-83aca93 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-1616d7d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-1616d7d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-efe53dd {padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-d2de956 {text-align: center;}
.elementor-6192 .elementor-element.elementor-element-d2de956 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-d2de956 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-d2de956 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-0df6753 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-0df6753 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-0df6753 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-06d838b {padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-546ce87 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-546ce87 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-546ce87 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-f620ce0 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-f620ce0 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-f620ce0 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-76012c2 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-132e01a .elementor-spacer-inner {height: 16px;}
.elementor-6192 .elementor-element.elementor-element-c8e88ad.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-6192 .elementor-element.elementor-element-c8e88ad > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-6192 .elementor-element.elementor-element-ad5f3aa {padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-68e6f02 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-68e6f02 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-68e6f02 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-d2ba85f .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-d2ba85f .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-d2ba85f > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-2a9e515 {padding: 0px 8px 0px 8px;}
.elementor-6192 .elementor-element.elementor-element-3cff2f2 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-3cff2f2 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-3cff2f2 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-6192 .elementor-element.elementor-element-6ef4092 .elementor-image:hover img {opacity: 1;}
.elementor-6192 .elementor-element.elementor-element-6ef4092 .elementor-image img {transition-duration: .5s;}
.elementor-6192 .elementor-element.elementor-element-6ef4092 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
@media (min-width:768px) {.elementor-6192 .elementor-element.elementor-element-5c6d83a8 {width: 57.964%;}
	.elementor-6192 .elementor-element.elementor-element-1a553205 {width: 42.036%;}
	.elementor-6192 .elementor-element.elementor-element-dc245f1 {width: 74.111%;}
	.elementor-6192 .elementor-element.elementor-element-d8ca8e5 {width: 25.823%;}
	.elementor-6192 .elementor-element.elementor-element-6f2c6a8 {width: 74.111%;}
	.elementor-6192 .elementor-element.elementor-element-a399533 {width: 25.823%;}
	.elementor-6192 .elementor-element.elementor-element-d3d9714 {width: 74.111%;}
	.elementor-6192 .elementor-element.elementor-element-46c07ff {width: 25.823%;}
	.elementor-6192 .elementor-element.elementor-element-84082cb {width: 74.111%;}
	.elementor-6192 .elementor-element.elementor-element-c493b4f {width: 25.823%;}}
@media (max-width:1024px) {.elementor-6192 .elementor-element.elementor-element-6452e4a {padding: 30px 50px 30px 50px;}
	.elementor-6192 .elementor-element.elementor-element-38be097c {text-align: center;}}
@media (max-width:767px) {.elementor-6192 .elementor-element.elementor-element-6452e4a {padding: 30px 30px 30px 30px;}
	.elementor-6192 .elementor-element.elementor-element-6d3bfab0 .elementor-divider {text-align: center;}
	.elementor-6192 .elementor-element.elementor-element-6d3bfab0 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-6192 .elementor-element.elementor-element-384f80e4 {text-align: center;}
	.elementor-6192 .elementor-element.elementor-element-227d6242 .elementor-text-editor {text-align: center;}
	.elementor-6192 .elementor-element.elementor-element-1a553205 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-6192 .elementor-element.elementor-element-38be097c {text-align: center;}}
.elementor-6192 .elementor-element.elementor-element-da21222 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-b9df8a5 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-d2de956 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-0df6753 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-546ce87 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-f620ce0 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-68e6f02 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-d2ba85f a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-3cff2f2 a {cursor: zoom-in;}
.elementor-6192 .elementor-element.elementor-element-6ef4092 a {cursor: zoom-in;}