.elementor-510 .elementor-element.elementor-element-de7a1a1 .gallery-item {padding: 0 58px 58px 0;}
.elementor-510 .elementor-element.elementor-element-de7a1a1 .gallery {margin: 0 -58px -58px 0;}
.elementor-510 .elementor-element.elementor-element-de7a1a1 .gallery-item .gallery-caption {text-align: center;}