.elementor-4226 .elementor-element.elementor-element-2a68939d > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-4226 .elementor-element.elementor-element-2a68939d > .elementor-container:after {content: "";min-height: inherit;}
.elementor-4226 .elementor-element.elementor-element-2a68939d > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-4226 .elementor-element.elementor-element-2a68939d:not(.elementor-motion-effects-element-type-background), .elementor-4226 .elementor-element.elementor-element-2a68939d > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-4226 .elementor-element.elementor-element-2a68939d {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-4226 .elementor-element.elementor-element-2a68939d > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-4226 .elementor-element.elementor-element-30c79f96 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-4226 .elementor-element.elementor-element-6beed8dc {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-4226 .elementor-element.elementor-element-6beed8dc .elementor-divider-separator {width: 20%;}
.elementor-4226 .elementor-element.elementor-element-6beed8dc .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-4226 .elementor-element.elementor-element-65eb4708.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-4226 .elementor-element.elementor-element-595ba2eb {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-4226 .elementor-element.elementor-element-595ba2eb > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-4226 .elementor-element.elementor-element-4e10a6d7 {text-align: center;}
.elementor-4226 .elementor-element.elementor-element-4e10a6d7 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-1572f979 > .elementor-widget-container {margin: 24px 0px 16px 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-f4a84a8 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-082ed16 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-58cf39e.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-58cf39e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-33b2a117 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-276a238 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-68653c42.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-68653c42 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-3c71996f {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-76c989fb .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-64f08839.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-64f08839 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-600df92.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-600df92 > .elementor-widget-container {margin: 16px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-635553e .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-635553e .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-635553e > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-7d9acc0a {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-f4c312c.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-f4c312c > .elementor-widget-container {margin: 16px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-a700fc8 .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-a700fc8 .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-a700fc8 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-d764ce0 .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-d764ce0 .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-d764ce0 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-13b4d166 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-d031dc0.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-d031dc0 > .elementor-widget-container {margin: 16px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-3f93ff8 .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-3f93ff8 .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-3f93ff8 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-4d361354 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-4d049de .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-57f63c52.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-57f63c52 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-c53b2ab {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-4226 .elementor-element.elementor-element-e1300f8 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-1ef4a63.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-1ef4a63 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-e4a4e35.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-4226 .elementor-element.elementor-element-e4a4e35 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-4226 .elementor-element.elementor-element-7836e2a6 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4226 .elementor-element.elementor-element-588d7443 .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-588d7443 .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-588d7443 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-586b0faf .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-586b0faf > .elementor-widget-container {background-color: #689f38;}
.elementor-4226 .elementor-element.elementor-element-bed31f .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-c6d629f {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4226 .elementor-element.elementor-element-1f31559 .elementor-image:hover img {opacity: 1;}
.elementor-4226 .elementor-element.elementor-element-1f31559 .elementor-image img {transition-duration: .5s;}
.elementor-4226 .elementor-element.elementor-element-1f31559 > .elementor-widget-container {padding: 16px 16px 16px 16px;background-color: #eee;}
.elementor-4226 .elementor-element.elementor-element-651c611 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-f8b4b81 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-1c9c976e {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-4226 .elementor-element.elementor-element-1277da16 .elementor-spacer-inner {height: 16px;}
.elementor-4226 .elementor-element.elementor-element-64741a3 .elementor-spacer-inner {height: 16px;}
@media (min-width:768px) {.elementor-4226 .elementor-element.elementor-element-30c79f96 {width: 57.964%;}
	.elementor-4226 .elementor-element.elementor-element-959ad78 {width: 42.036%;}}
@media (max-width:1024px) {.elementor-4226 .elementor-element.elementor-element-2a68939d {padding: 30px 50px 30px 50px;}
	.elementor-4226 .elementor-element.elementor-element-4e10a6d7 {text-align: center;}}
@media (max-width:767px) {.elementor-4226 .elementor-element.elementor-element-2a68939d {padding: 30px 30px 30px 30px;}
	.elementor-4226 .elementor-element.elementor-element-6beed8dc .elementor-divider {text-align: center;}
	.elementor-4226 .elementor-element.elementor-element-6beed8dc .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-4226 .elementor-element.elementor-element-65eb4708 {text-align: center;}
	.elementor-4226 .elementor-element.elementor-element-595ba2eb .elementor-text-editor {text-align: center;}
	.elementor-4226 .elementor-element.elementor-element-959ad78 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-4226 .elementor-element.elementor-element-4e10a6d7 {text-align: center;}}
.elementor-4226 .elementor-element.elementor-element-635553e a {cursor: zoom-in;}
.elementor-4226 .elementor-element.elementor-element-a700fc8 a {cursor: zoom-in;}
.elementor-4226 .elementor-element.elementor-element-d764ce0 a {cursor: zoom-in;}
.elementor-4226 .elementor-element.elementor-element-3f93ff8 a {cursor: zoom-in;}
.elementor-4226 .elementor-element.elementor-element-588d7443 a {cursor: zoom-in;}
.elementor-4226 .elementor-element.elementor-element-1f31559 a {cursor: zoom-in;}