.elementor-182 .elementor-element.elementor-element-6549ca0 > .elementor-container {max-width: 960px;min-height: 300px;}
.elementor-182 .elementor-element.elementor-element-6549ca0 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-182 .elementor-element.elementor-element-6549ca0 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-182 .elementor-element.elementor-element-6549ca0:not(.elementor-motion-effects-element-type-background), .elementor-182 .elementor-element.elementor-element-6549ca0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-182 .elementor-element.elementor-element-6549ca0 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-182 .elementor-element.elementor-element-6549ca0 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-182 .elementor-element.elementor-element-61dcfc3 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-182 .elementor-element.elementor-element-1b2b7a3 {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-182 .elementor-element.elementor-element-1b2b7a3 .elementor-divider-separator {width: 20%;}
.elementor-182 .elementor-element.elementor-element-1b2b7a3 .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-182 .elementor-element.elementor-element-7dd6fe0.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-182 .elementor-element.elementor-element-aa34779 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-182 .elementor-element.elementor-element-aa34779 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-182 .elementor-element.elementor-element-c3eff78 {text-align: center;}
.elementor-182 .elementor-element.elementor-element-c3eff78 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-182 .elementor-element.elementor-element-6a9f509 .elementor-spacer-inner {height: 15px;}
.elementor-182 .elementor-element.elementor-element-93084fa > .elementor-widget-container {margin: 12px 12px 12px 12px;padding: 6px 6px 6px 6px;background-color: rgba(97,206,112,.2);border-style: solid;border-width: 1px 1px 1px 1px;border-color: #61ce70;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table {max-width: 100%;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table thead tr th {color: #fff;background-color: #4a4893;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting:after {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting_asc:after {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting_desc:after {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table thead tr th:hover {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting:after:hover {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting_asc:after:hover {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 table.dataTable thead .sorting_desc:after:hover {color: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table thead tr th i {font-size: 20px;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table thead tr th .data-table-header-svg-icon {height: 20px;width: 20px;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table tbody > tr:nth-child(2n) td {color: #6d7882;background: #fff;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table tbody > tr:nth-child(2n+1) td {color: #6d7882;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table tbody tr td {border-style: solid;border-width: 1px 1px 1px 1px;border-color: #efefef;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table tbody > tr:nth-child(2n+1) td:hover {color: #6d7882;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table-wrap table td a {color: #c15959;}
.elementor-182 .elementor-element.elementor-element-452d216 .eael-data-table-wrap table td a:hover {color: #6d7882;}
.elementor-182 .elementor-element.elementor-element-4c633d7 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-56330a8 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-af6f75b {text-align: left;}
.elementor-182 .elementor-element.elementor-element-fae7606 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-553bdea {text-align: left;}
.elementor-182 .elementor-element.elementor-element-22b6966 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-d15fa8e {text-align: left;}
.elementor-182 .elementor-element.elementor-element-2bef762 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-ee266be {text-align: left;}
.elementor-182 .elementor-element.elementor-element-a85ff73 {text-align: left;}
.elementor-182 .elementor-element.elementor-element-cb0c7e7 {text-align: left;}
@media (min-width:768px) {.elementor-182 .elementor-element.elementor-element-61dcfc3 {width: 57.964%;}
	.elementor-182 .elementor-element.elementor-element-d5437a0 {width: 42.036%;}}
@media (max-width:1024px) {.elementor-182 .elementor-element.elementor-element-6549ca0 {padding: 30px 50px 30px 50px;}
	.elementor-182 .elementor-element.elementor-element-c3eff78 {text-align: center;}}
@media (max-width:767px) {.elementor-182 .elementor-element.elementor-element-6549ca0 {padding: 30px 30px 30px 30px;}
	.elementor-182 .elementor-element.elementor-element-1b2b7a3 .elementor-divider {text-align: center;}
	.elementor-182 .elementor-element.elementor-element-1b2b7a3 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-182 .elementor-element.elementor-element-7dd6fe0 {text-align: center;}
	.elementor-182 .elementor-element.elementor-element-aa34779 .elementor-text-editor {text-align: center;}
	.elementor-182 .elementor-element.elementor-element-d5437a0 > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-182 .elementor-element.elementor-element-c3eff78 {text-align: center;}}