.elementor-1726 .elementor-element.elementor-element-66947662 > .elementor-container {min-height: 300px;}
.elementor-1726 .elementor-element.elementor-element-66947662 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-1726 .elementor-element.elementor-element-66947662 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-1726 .elementor-element.elementor-element-66947662:not(.elementor-motion-effects-element-type-background), .elementor-1726 .elementor-element.elementor-element-66947662 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: rgba(241,243,245,.5);}
.elementor-1726 .elementor-element.elementor-element-66947662 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-1726 .elementor-element.elementor-element-66947662 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-1726 .elementor-element.elementor-element-71ad3a84 > .elementor-element-populated {padding: 8px 16px 0px 16px;}
.elementor-1726 .elementor-element.elementor-element-1991d08b {--divider-border-style: solid;--divider-border-color: #4054b2;--divider-border-width: 5px;}
.elementor-1726 .elementor-element.elementor-element-1991d08b .elementor-divider-separator {width: 20%;}
.elementor-1726 .elementor-element.elementor-element-1991d08b .elementor-divider {padding-top: 25px;padding-bottom: 25px;}
.elementor-1726 .elementor-element.elementor-element-7f755737.elementor-widget-heading .elementor-heading-title {color: #444;}
.elementor-1726 .elementor-element.elementor-element-48ea9d22 {font-size: 17px;font-weight: 300;line-height: 1.8em;}
.elementor-1726 .elementor-element.elementor-element-48ea9d22 > .elementor-widget-container {padding: 10px 0px 10px 0px;}
.elementor-1726 .elementor-element.elementor-element-29db1dd3 {text-align: center;}
.elementor-1726 .elementor-element.elementor-element-29db1dd3 .elementor-image img {width: 260px;max-width: 100%;opacity: 1;}
.elementor-1726 .elementor-element.elementor-element-3fd35f27 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-5793a732 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-6dc98768.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-6dc98768 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-3eb9501b {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-39f690e7 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-171f21ce.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-171f21ce > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-43d4d80 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-69d33df .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-4a5c15e.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-4a5c15e > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-2046c2e {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-6dec9c4 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-e6c1ffc.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-e6c1ffc > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-026dc32 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-a2e2df5 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-470a97d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-470a97d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-3a0be6f {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-32645ff .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-7d2fa0d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-7d2fa0d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-9aa2e20 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-e7bbea0 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-ca3002a.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-ca3002a > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-c8c5db0 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-1a0f948 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-661167d.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-661167d > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-bba97df.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-bba97df > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-4139dff .elementor-spacer-inner {height: 24px;}
.elementor-1726 .elementor-element.elementor-element-3a082a8.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-3a082a8 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-e4f9015 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-c5b07c7 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-32857dd.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-32857dd > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-bd460c9 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-60d7f72.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-60d7f72 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-a476251 .elementor-spacer-inner {height: 24px;}
.elementor-1726 .elementor-element.elementor-element-4102ecb .elementor-spacer-inner {height: 24px;}
.elementor-1726 .elementor-element.elementor-element-7eed342 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-4dc7cee .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-22ba985.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-22ba985 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-ed5fcd0 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-8063cd5.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-8063cd5 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-970f359.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-970f359 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-d0771b9.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-d0771b9 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-0918058.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-0918058 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-aae490f {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1726 .elementor-element.elementor-element-3f2b5a3b .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-b8cd482 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-84392ab.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-84392ab > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-95bed74.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-95bed74 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-9c25cf0 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-c6c1379.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-c6c1379 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-cdc9fc1 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-489e6ca .elementor-spacer-inner {height: 24px;}
.elementor-1726 .elementor-element.elementor-element-0c443f4.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-0c443f4 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-dc6688a .elementor-spacer-inner {height: 24px;}
.elementor-1726 .elementor-element.elementor-element-017c9f4.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-017c9f4 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-617851e .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-aabdcb8.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-aabdcb8 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-2922324 {text-align: left;}
.elementor-1726 .elementor-element.elementor-element-509e5407 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-4254bca9 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-745f09de.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-745f09de > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-cedd44f.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-cedd44f > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-a98a232 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1726 .elementor-element.elementor-element-8d73ad5 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-a5a2fd7 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-2058fdd {text-align: left;}
.elementor-1726 .elementor-element.elementor-element-fd3409f {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-a841a31 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-24ebd46.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-24ebd46 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-344566d2 {margin-top: 0px;margin-bottom: 0px;padding: 0px 8px 0px 8px;}
.elementor-1726 .elementor-element.elementor-element-7e2a3ab1 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-112fcb71.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-112fcb71 > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-0e075cf.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-0e075cf > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-5464e755 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1726 .elementor-element.elementor-element-10a4ffef.elementor-widget-heading .elementor-heading-title {color: rgba(0,0,0,.86);}
.elementor-1726 .elementor-element.elementor-element-10a4ffef > .elementor-widget-container {margin: 0px 0px 0px 0px;}
.elementor-1726 .elementor-element.elementor-element-244c940 {margin-top: 0px;margin-bottom: 0px;padding: 8px 8px 8px 8px;}
.elementor-1726 .elementor-element.elementor-element-10f1ae6 .elementor-spacer-inner {height: 16px;}
.elementor-1726 .elementor-element.elementor-element-bcaa8cb .elementor-spacer-inner {height: 64px;}
body.elementor-page-1726 h2.page-title, .elementor-page-title {display: none;}
@media (min-width:768px) {.elementor-1726 .elementor-element.elementor-element-71ad3a84 {width: 57.964%;}
	.elementor-1726 .elementor-element.elementor-element-4c4948ed {width: 42.036%;}}
@media (max-width:1024px) {.elementor-1726 .elementor-element.elementor-element-66947662 {padding: 30px 50px 30px 50px;}
	.elementor-1726 .elementor-element.elementor-element-29db1dd3 {text-align: center;}}
@media (max-width:767px) {.elementor-1726 .elementor-element.elementor-element-66947662 {padding: 30px 30px 30px 30px;}
	.elementor-1726 .elementor-element.elementor-element-1991d08b .elementor-divider {text-align: center;}
	.elementor-1726 .elementor-element.elementor-element-1991d08b .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-1726 .elementor-element.elementor-element-7f755737 {text-align: center;}
	.elementor-1726 .elementor-element.elementor-element-48ea9d22 .elementor-text-editor {text-align: center;}
	.elementor-1726 .elementor-element.elementor-element-4c4948ed > .elementor-element-populated {padding: 50px 0px 50px 0px;}
	.elementor-1726 .elementor-element.elementor-element-29db1dd3 {text-align: center;}}
.elementor-1726 .elementor-element.elementor-element-dd662ad {text-align: center;}
.elementor-1726 .elementor-element.elementor-element-34261eb {text-align: center;}
.elementor-1726 .elementor-element.elementor-element-b2d6a8f {text-align: center;}